header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    //검색할때 url 에 get methoid 를 보내서 검색변수를 term 으로 만듬..
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder = "Search by term...", name="term")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log in