<!-- 복붙하려고 layout 만든거다 들여쓰기로 구분함. -->

doctype html    
html
    head
        title WebTube
    body
        header
            h1 WebTube
        main
            block content
        footer
            span &copy; Webtube